{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Empatica | Mobile App Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/now-ui-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">

    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">2019 DOWNLOADS</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  EXIT
                  <p>
                    <span class="d-lg-none d-md-block">Logout</span>
                  </p>
                </a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg">
        <canvas id="bigDashboardChart"></canvas>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">2019 Downloads</h5>
                <h4 class="card-title">By country</h4>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="lineChartExample"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">2019 Downloads</h5>
                <h4 class="card-title">By time of day (UTC)</h4>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">2019 Downloads</h5>
                <h4 class="card-title">Alert VS Mate</h4>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="barChartSimpleGradientsNumbers"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10" style="margin: auto;">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">Live Feed</h5>
                <h4 class="card-title"> Latest Downloads</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table" id="live_feed">
                    <thead class=" text-primary">
                      <th>
                        App
                      </th>
                      <th>
                        Date
                      </th>
                      <th>
                        Time
                      </th>
                      <th>
                        Location
                      </th>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
                <div class="stats" style="margin: 20px;">
                  <i style="color: grey;" class="now-ui-icons arrows-1_refresh-69"></i> <span style="color: grey;">Just Updated</span>
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>

  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/now-ui-dashboard.js' %}" type="text/javascript"></script>

  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/now-ui-dashboard.min.js?v=1.3.0' %}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'demo/demo.js' %}"></script>

  <script>
    $(document).ready(function() {

      // Javascript method's body can be found in assets/js/demos.js
      charts = demo.initDashboardPageCharts();

      //console.log(charts)

      // Run every 10 seconds
      
      // GET request to server, fetch all the downloads
      $.get( "/api/app_download", function( data ) {
        
        // Arrays that will keep the number of downloads
        number_of_ios_alert_downloads_per_month = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        number_of_ios_mate_downloads_per_month = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        total_number_of_downloads_per_month = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

        number_of_downloads_per_hour = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

        var countries = {};

        for(i =0; i<data.length; i++){

          // Main line chart and the 'Alert VS Mate' line chart
          month = data[i]['downloaded_at'].split('-')[1]
          index = month - 1
          if(data[i]['app_id'] == 'IOS_ALERT'){
            number_of_ios_alert_downloads_per_month[index]++;
          }else{
            number_of_ios_mate_downloads_per_month[index]++;
          }
          total_number_of_downloads_per_month[index]++;

          // For the 'By time of day' chart
          hour = data[i]['downloaded_at'].split('T')[1].substring(0, 2)/1
          number_of_downloads_per_hour[hour]++;

          // For the 'By Country/Continent' chart
          country = data[i]['country']
          if(countries[country] == null){
            countries[country] = 1
          }else{
            countries[country] = countries[country] + 1
          }

          other_downloads = 0
          number_of_downloads_per_country = []
          labels_of_countries = []
          colors_of_countries = []
          colors = ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', 
      '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
      '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A', 
      '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
      '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC', 
      '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
      '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680', 
      '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
      '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3', 
      '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];
          

          // For whatever is under 5% on it's own, add it to Other
          j=0
          for(var downloads in countries) {
            var value = countries[downloads];

            // if the downloads are more that 3% of the total downloads
            if(value > (data.length/33)){
              number_of_downloads_per_country.push(value)
              labels_of_countries.push(downloads)
              colors_of_countries.push(colors[j])
              j++;
            }else{
              other_downloads += value
            }

          }

          number_of_downloads_per_country.push(other_downloads)
          labels_of_countries.push('Other')


          // For the live feed, all we need is the last five downloads
          latest_downloads = []
          if(i<5){
            html = '<tr style="color:grey"><td>' + data[i]['app_id'] + '</td><td>' + data[i]['downloaded_at'].split('T')[0] + '</td><td>' + data[i]['downloaded_at'].split('T')[1] + '</td><td>' + data[i]['country'] + '/' + data[i]['continent'] + '</td></tr>';

            latest_downloads.push(html)
            $('#live_feed tr:last').after(html);
          }

        }

        // Main line chart
        mainChart = charts.mainChart
        mainChart.data.datasets[0].data = total_number_of_downloads_per_month
        mainChart.update()

        // 'Alert VS Mate' chart
        doubleLineChart = charts.doubleLineChart
        doubleLineChart.data.datasets[0].data = number_of_ios_alert_downloads_per_month
        doubleLineChart.data.datasets[1].data = number_of_ios_mate_downloads_per_month
        doubleLineChart.update()

        // 'By time of day' chart
        timeChart = charts.timeChart
        timeChart.data.datasets[0].data = number_of_downloads_per_hour
        timeChart.update()

        // 'By country' chart
        countryChart = charts.countryChart
        countryChart.data.datasets[0].data = number_of_downloads_per_country
        countryChart.data.datasets[0].backgroundColor = colors_of_countries
        countryChart.data.labels = labels_of_countries
        countryChart.update()

      });

    });
  </script>
</body>

</html>